<mat-card>
  <button mat-fab class="page-action" [routerLink]="['/question/add']">
    <mat-icon class="mat-24">add</mat-icon>
  </button>

  <mat-card-title>Questions</mat-card-title>
  <mat-card-content class="flex-container" fxLayout="row wrap" fxLayoutAlign="center start">
    <app-question [questions]="questions$ | async"
      [categoryDict]="categoryDict$ | async"
      class="flex-container"
      fxLayout="row wrap"
      fxLayoutAlign="center start">
    </app-question>
  </mat-card-content>

</mat-card>
